//========================= FONT STYLES ==================
$prime-p: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$secondary-p: "Roboto","Helvetica","Arial",sans-serif;

//========================= COLOR SKINS ==================
// $prime-skin: royalblue;
$prime-skin: #186de5;
$secondary-skin: rebeccapurple;
$nav-hover-skin: #4AE3B5;
$second-background-skin: #ecf6fe;
$caption-skin: #777;
$title-skin: #fff;
$footer-skin: #f1f8ff;